 [Unit]
 Description=Gunicorn server for SITENAME
 
 [Service]
 Restart=on-failure
 User=pxy
 WorkingDirectory=/home/pxy/sites/SITENAME/source
 ExecStart=/home/pxy/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket note.wsgi:application
 
 [Install]
 WantedBy=multi-user.target